.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.coderwidget {
    font-family: Helvetica;
    padding: 5px;
}

.coderwidget .coderwall-badge {
    float: left;
}

.coderwidget .coderwall-badge-image {
    height: 67px;
    width: 67px
}

.coderwall-logo {
    border-radius: 5px;
    float: left;
    padding: 8px 10px 8px 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#6A7176), to(#4D5256));
    background: -moz-linear-gradient(-90deg, #6A7176, #4D5256);
    width: 100px
}

.coderwall-logo .coderwall-tag-name {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAXVBMVEU+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcw+jcywQyzLAAAAHnRSTlMADA8SFRgeNjk8P0JRWmB7foSKjZyfpai0ycz2+fx/yWhyAAAAa0lEQVR42n3PSw6DMBRD0csr0JCSlj8UqPe/TBQxiYToGXpg2Vy5oQZrW4N6cGCb5Bilkae0GbZLnlma8dJuENYGymUpoVkDd/KuyyFMFaez1MWOu6Do+wLe04v/Pt9Ayku/B4k4PSMVz10cX20G4yYV/joAAAAASUVORK5CYII=) no-repeat;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
    text-shadow: 0 1px 0 black;
    text-decoration: none;
}

.coderwall-logo:hover .coderwall-tag-name {
    color: #BED4FA;
}

.coderwidget[data-orientation="vertical"] {
    width: 135px;
}

.coderwidget[data-orientation="vertical"] .coderwall-logo {
    margin: 10px 0 0 8px;
}

.coderwidget[data-orientation="horizontal"] .coderwall-logo {
    margin: 18px 0 0 8px;
}